$color-primary: #664422;

$color-textfield-boarder: #fff2e7;
$color-textfield-filler: #f1ead3;

$color-keyboard-boarder: #b0ccb0;
$color-keyboard-filler: #e0e0e0;

$color-key-boarder: #e2e2e2;
$color-key-boarder-light: #ebebeb;
$color-key-filler: #bac7ba;
$color-key-filler-light: #bac7ba40;
$color-key-filler-on: #cc8b00d3;