$color-primary: #664422;

$color-textfield-boarder: #fff2e7;
$color-textfield-filler: #f1ead3;

$color-keyboard-boarder: #b0ccb0;
$color-keyboard-filler: #e0e0e0;

$color-key-boarder: #d8d8d8;
$color-key-filler: #90b09070;