.keyboard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 2rem;
    width: 700px;
    height: 300px;
    background-color: $color-keyboard-filler;
    border: 3px solid $color-keyboard-boarder;
    border-radius: 10px;
    margin: 10px;
}

.key-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-basis: 60px;
    height: 35px;
    background-color: $color-key-filler;
    border: 2px solid $color-key-boarder;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}
